
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made ❤️ by Gasore <br><span style="color: rgb(123, 19, 227); font-weight: 900;">&copy;2023 right</span></p> 
  </div>
</div>
</body>
</html>
